body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(51, 51, 51);
}

.page {
    min-width: 1280px;
    
    background-color: rgb(242, 242, 242);
}

.page-contaner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page-header {
    position: relative;
}

.main-nav-list {
    display: flex;
    margin: 0;
    padding: 0; 
    list-style: none; 
}

.main-nav-item {
    flex: 0 0 240px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    text-align: center;
}

.main-nav-item:nth-child(2) {
    margin-right: auto;
}

.main-nav-item a {
    font-weight: bold;
    line-height: 26px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main-nav-item a:hover {
    color: rgb(129, 179, 210);
}

.main-nav-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-nav-list .active a {
    color: rgb(118, 99, 87);
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
    z-index: 2;
}

.intro::after {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    
    background: url(img/shape-white.png) no-repeat;
}

.page-title {
    padding-top: 28px;
    padding-bottom: 28px;
    
    background-color: yellow/*rgb(255, 255, 255);*/
}

.page-title h1 {
    width: 576px;
    margin: 33px auto;
    
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(0, 0, 0); 
}

.page-title p {
    margin-bottom: 27px;
    text-align: center;
}

.feature-wide {
    display: flex;
    flex-direction: row;
}

.revers {
    flex-direction: row-reverse;
}

.feature-info {
    flex: 0 0 400px;
    max-height: 256px;
    
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 179, 210);
}

.feature-info span {
    display: block;
    /*max-width: 240px;*/
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: 1.2;
    font-weight: bold;
}

.feature-info p {
    margin: 0;
    padding: 0;
    padding-top: 23px;
    
}

.content-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.content-item {
    flex: 0 0 auto;
    max-width: 400px;
    /*min-height: 330px;*/
    margin: 0;
    padding: 0;
        
    text-align: center;
    list-style: none;
}

.content-item span {
    position: relative;
    display: block;
    margin-top: 133px;
    padding-top: 30px;
}

.content-item span::before {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 50%;

    background: transparent url(../img/sprite.png) no-repeat;
}
   
.house::before {
    width: 75px;
    height: 72px;
    background-position: -5px -290px;
}

.food::before {
    width: 74px;
    height: 70px;
    background-position: -5px -210px;
}

.suvenir::before {
    width: 64px;
    height: 76px;
    background-position: -5px -619px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 0;

    background-color: rgb(238, 238, 238);
}

.features-item {
    flex: 0 0 auto;
    max-width: 400px;
    min-height: 256px;
        
    text-align: center;
    list-style: none;
}

.content-item span,
.features-item span {
    font-weight: bold;
    font-size: 21px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
}

.search-hotels {
    width: 576px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.large {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(0, 0, 0);
}

.search-hotels p {
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.modal-btn {
    width: 568px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;    
    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 99, 87);
}

.search-form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 568px;
    padding: 54px;
    
}
.search-form .form-group {
    width: 460px;
    height: 40px;
    margin-bottom: 14px;
}

/*.date {
    
}

.number {
    width: 230px;
    height: 40px;
}*/

input[type="date"] {
    width: 307px;
}

input[type="number"] {
    width: 38px;
}

button[type="button"] {
    width: 38px;
    background-color: rgb(238, 238, 238);
}

.search-form label { 
    font-weight: bold;
    line-height: 26px; 
    color: rgb(0, 0, 0);
}

input[type="date"],
input[type="number"] {
    font: inherit;
    background-color: rgb(238, 238, 238);
}


.search-btn {
    width: 460px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 54px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(129, 179, 210);
}

.filter {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 33px;

    background-color: rgb(129, 179, 210);
}

.filter-box {
    flex: 0 0 170px;
}

.filter-price {
    flex: 0 0 330px;
    margin-left: auto;
}

.filter .form-group {
   color: rgb(255, 255, 255); 
   border: transparent;
}

.form-group legend {
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    font-size: 16px;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    margin: 12px 0;
    padding-left: 40px;

    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -5px -149px;
}

.sort-box {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    align-items: baseline;
    margin-bottom: 30px;

    background-color: lightgreen;
}

.sort-sidebar {
    margin-left: auto;
}

.sort-list {
    display: flex;
    min-width: 270px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.find {
    padding-left: 10px;
    padding-right: 45px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(0, 0, 0);
}

.sort,
.sort-item {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: rgb(0, 0, 0);
}

.sort-item {
    list-style: none;
}

.sort-item a {
    text-decoration: none;
    opacity: 0.3;
    border-bottom-style: 1px dotted rgba(0, 0, 0, 0.3); 
}

.sort-item a:hover {
    color: rgb(129, 179, 210);
}

.sort-item a:active {
    color: rgb(0, 0, 0);
    border: none;
}

.active a {
    color: rgb(129, 179, 210);
    border: none;
}

.result {
    padding-left: 70px;
    padding-right: 70px; 

    background-color: lightgreen; 
} 

.result-item {
    display: flex;
    margin: 0;
    padding: 30px 0;

    border-bottom: 1px solid #000000;
    
}

.rating-box {
    margin-left: auto;
}

.result-item-info {
    flex: 0 0 260px;
    margin-left: 20px;

    position: relative;
    
}

.result-item-info h3 {
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.result-item-info h3> a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.type {
    margin-right: 30px;
}

.more,
.reserve {
    position: absolute;
    padding: 3px 16px;

    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.more {
    left: 0;
    bottom: 0;
    background-color: rgb(129, 179, 210);
}

.more:hover {
    background-color: rgb(102, 158, 192);
}

.more:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba (84, 150, 189);
}

.reserve {
    right: 0;
    bottom: 0;
    background-color: rgb(118, 99, 87);
}

.reserve:hover {
    background-color: rgb(96, 78, 67);
}

.reserve:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgb(80, 62, 51);
}

.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.hashtag-box,
.footer-copyright {
    min-width: 240px;
    text-align: center;
}

.hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(0, 0, 0);
}

.footer-social {
    /*width: 240px;*/
    text-align: center;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;

    background-color: rgb(129, 179, 210);
}

.social-btn:hover {
    background-color: rgb(102, 158, 192);
}

.social-btn:active {
    background-color: rgb(84, 150, 189);
}

.social-btn::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background: url(../img/sprite.png) no-repeat;
}

.tw::before {
    width: 17px;
    height: 15px;
    background-position: -5px -705px;
}

.fb::before {
    width: 10px;
    height: 19px;
    background-position: -5px -181px;
}

.youtube::before {
    width: 20px;
    height: 16px;
    background-position: -5px -730px;  
}

.tw:active::before {
    opacity: 0.3;
}

.fb:active::before {
    opacity: 0.3;
}

.youtube:active::before {
    opacity: 0.3;
}

.footer-copyright p {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 11px;
}

.footer-copyright a {
    position: relative;
    display: inline-block;
    min-width: 123px;
    height: 43px;
    vertical-align: top;
    font-size: 0;
    
    text-decoration: none;
    background: rgb(255, 255, 255);
}

.footer-copyright a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;

    width: 113px;
    height: 39px;
    background: transparent url(../img/sprite.png)no-repeat;
    background-position: -5px -372px;
}

.footer-copyright a:hover::before {
    background-position: -5px -421px;
}
 
.footer-copyright a:active::before {
    opacity: 0.3;
}




/*
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-down-active {
    width: 11px;
    height: 10px;
    background-position: -5px -5px;
}

.sprite-arrow-down-hover {
    width: 11px;
    height: 10px;
    background-position: -5px -25px;
}

.sprite-arrow-up-active {
    width: 11px;
    height: 10px;
    background-position: -5px -45px;
}

.sprite-arrow-up-hover {
    width: 11px;
    height: 10px;
    background-position: -5px -65px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -5px -85px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -5px -117px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -5px -149px;
}

.sprite-fb {
    width: 10px;
    height: 19px;
    background-position: -5px -181px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -5px -210px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -5px -290px;
}

.sprite-htmlacad {
    width: 113px;
    height: 39px;
    background-position: -5px -372px;
}

.sprite-htmlacad-active {
    width: 113px;
    height: 39px;
    background-position: -5px -421px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -5px -470px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -5px -483px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -5px -496px;
}

.sprite-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -5px -517px;
}

.sprite-stars-2 {
    width: 42px;
    height: 17px;
    background-position: -5px -538px;
}

.sprite-stars-3 {
    width: 65px;
    height: 17px;
    background-position: -5px -565px;
}

.sprite-stars-4 {
    width: 89px;
    height: 17px;
    background-position: -5px -592px;
}

.sprite-suvenir {
    width: 64px;
    height: 76px;
    background-position: -5px -619px;
}

.sprite-tw {
    width: 17px;
    height: 15px;
    background-position: -5px -705px;
}

.sprite-yt {
    width: 20px;
    height: 16px;
    background-position: -5px -730px;
}
*/